// .header {
//   font-family: 'OpenSans';
//   text-align: center;
//   padding: 6rem 0;
//   background: #EAEAEA;
//   font-weight: 300;
//   &-title {
//     font-size: 2.4rem;
//     @include for-size(tablet-portrait-up) {
//       font-size: 3rem;
//     }
//   }
//   &-subTitle {
//     font-size: 1.8rem;
//     @include for-size(tablet-portrait-up) {
//       font-size: 3rem;
//     }
//   }
// }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4.5em;
  @include large-screens() {
    padding: 0 4em;
  }
  @include medium-screens() {
    padding: 0 2em;
  }
  @include small-screens() {
    padding: 0 1.7em;
  }
}
.header {
  width: 100%;
  padding-top: 2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    width: 30px;
    height: 30px;
    background-color: $black;
  }
  &__navigation {
    text-align: right;
  }
  &__navigationItem {
    list-style-type: none;
  }
  &__navigationItemLink {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
  }
}
