//$backgroundColor: #FEFFFB;
$backgroundColor: #FEFCF7;
$yellow: #FFCB47;
$black: #000000;
$white: #FFFFFF;

// Breakpoints
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;
