@import "reset";
@import "mixins";
@import "fonts";
@import "variables";
@import "header";
@import "home";
@import "project";
@import "contact";
@import "footer";

body {
  background-color: $backgroundColor;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.scrollEvolution {
  display: none;
  &__items {
    background-color: $yellow;
    height: 25px;
    width: 6px;
    margin-bottom: 1.7em;
  }
}
.selection::selection {
  background: $yellow;
}
