/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 200; }
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
  font-weight: 600; }
@font-face {
  font-family: 'Harriet Display';
  src: url("HarrietDisplay-Black.woff2") format("woff2"), url("HarrietDisplay-Black.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("HarrietDisplay-Medium.woff2") format("woff2"), url("HarrietDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("HarrietDisplay-Bold.woff2") format("woff2"), url("HarrietDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Playfair';
  src: url(../fonts/PlayfairDisplay-Regular.otf) format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Playfair';
  src: url(../fonts/PlayfairDisplay-Bold.otf) format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Playfair';
  src: url(../fonts/PlayfairDisplay-Black.otf) format("truetype");
  font-weight: 500; }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4.5em; }
  @media only screen and (max-width: 960px) {
    .container {
      padding: 0 4em; } }
  @media only screen and (max-width: 680px) {
    .container {
      padding: 0 2em; } }
  @media only screen and (max-width: 480px) {
    .container {
      padding: 0 1.7em; } }

.header {
  width: 100%;
  padding-top: 2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    width: 30px;
    height: 30px;
    background-color: #000000; }
  .header__navigation {
    text-align: right; }
  .header__navigationItem {
    list-style-type: none; }
  .header__navigationItemLink {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px; }

.footer {
  margin: 0 auto; }
  .footer__divider {
    width: 500px;
    height: 1.5px;
    background-color: #000000;
    margin-top: 200px; }
  .footer__container {
    display: flex;
    justify-content: space-between; }
  .footer__leftSection {
    width: 50%;
    text-align: left;
    margin-top: 70px; }
  .footer__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px; }
  .footer__title::selection {
    background: none; }
  .footer__CTA {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    background-color: #FFCB47;
    padding: 10px 20px; }
  .footer__rightSection {
    width: 25%;
    text-align: left;
    margin-top: 70px; }
  .footer__externalLinks {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    background-color: #FFCB47;
    display: inline-block;
    line-height: 8px;
    padding: 10px 25px 0 6px; }
  .footer__externalLinks::selection {
    background: none; }
  .footer__socialItems {
    width: 30%;
    margin-top: 40px;
    margin-left: 9px; }
  .footer__socialLink {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.5em; }

body {
  background-color: #FEFCF7;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  height: 3000px; }

.firstSection {
  margin: 0 auto; }
  .firstSection__content {
    text-align: left;
    margin-top: 7em; }
  .firstSection__title1 {
    font-size: 3em;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #000000;
    padding: 0.4em 1em 0.2em 0.4em;
    display: inline-block; }
    @media only screen and (max-width: 960px) {
      .firstSection__title1 {
        font-size: 2.5em; } }
    @media only screen and (max-width: 680px) {
      .firstSection__title1 {
        font-size: 2em; } }
    @media only screen and (max-width: 480px) {
      .firstSection__title1 {
        font-size: 7vw; } }
  .firstSection__title1::selection {
    background: none; }
  .firstSection__title2 {
    font-family: 'Harriet Display';
    font-size: 5em;
    font-weight: 500;
    letter-spacing: 3px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 0.2em 0.6em 0.2em 0.2em;
    display: inline-block; }
    @media only screen and (max-width: 960px) {
      .firstSection__title2 {
        font-size: 4em; } }
    @media only screen and (max-width: 680px) {
      .firstSection__title2 {
        font-size: 3em; } }
    @media only screen and (max-width: 480px) {
      .firstSection__title2 {
        font-size: 10vw;
        letter-spacing: 3px; } }
  .firstSection__title2::selection {
    background: none; }
  .firstSection__text {
    font-family: 'Harriet Display';
    font-size: 17px;
    font-weight: 300;
    margin-top: 2em;
    line-height: 28px;
    letter-spacing: 0.3px;
    width: 60%; }
    @media only screen and (max-width: 960px) {
      .firstSection__text {
        font-size: 1.2em;
        width: 90%; } }
    @media only screen and (max-width: 680px) {
      .firstSection__text {
        font-size: 1.2em;
        line-height: 5.2vw;
        width: 95%; } }
    @media only screen and (max-width: 480px) {
      .firstSection__text {
        font-size: 4vw;
        line-height: 5.8vw;
        width: 100%; } }
  .firstSection__CTA {
    margin-top: 3.6em; }
    @media only screen and (max-width: 480px) {
      .firstSection__CTA {
        text-align: center; } }
  .firstSection__CTAlink {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.6em 2em;
    text-decoration: none; }
    @media only screen and (max-width: 960px) {
      .firstSection__CTAlink {
        font-size: 1.2em;
        width: 90%; } }
    @media only screen and (max-width: 680px) {
      .firstSection__CTAlink {
        font-size: 1.1em;
        line-height: 5.2vw;
        width: 95%; } }
    @media only screen and (max-width: 480px) {
      .firstSection__CTAlink {
        font-size: 4vw;
        line-height: 5.8vw;
        width: 100%;
        text-align: center; } }

.scrollEvolution {
  display: none; }
  .scrollEvolution__items {
    background-color: #FFCB47;
    height: 25px;
    width: 6px;
    margin-bottom: 1.7em; }

.selection::selection {
  background: #FFCB47; }

.projectSection {
  margin: 0 auto; }
  .projectSection__projectContainer {
    margin-top: 16em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 28vw; }
  .projectSection__projectTextContainer {
    width: 48%; }
  .projectSection__projectTitleContainer {
    position: relative;
    left: -12.5; }
  .projectSection__projectNumber {
    font-family: 'Harriet Display';
    font-size: 22vw;
    font-weight: 700;
    color: #000000;
    opacity: 0.03;
    text-align: left;
    position: absolute;
    z-index: -1;
    margin-top: -0.4em; }
  .projectSection__projectNumber::selection {
    background: none; }
  .projectSection__projectTitle {
    font-family: 'Harriet Display';
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: 0.2px;
    background-color: #FFCB47;
    display: inline-block;
    line-height: 1.5vw;
    padding: 0.3em 0.8em 0 0.3em;
    margin-top: 1em; }
  .projectSection__projectTitle::selection {
    background: none; }
  .projectSection__projectRole {
    font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 200;
    letter-spacing: 0.3px;
    margin-top: 1.6em;
    color: #898989; }
  .projectSection__projectDescription {
    font-family: 'OpenSans', sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
    margin-top: 2em;
    width: 100%;
    line-height: 1.9vw;
    margin-right: 5em; }
  .projectSection__projectLink {
    display: inline-block;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    text-decoration: none;
    color: #000000;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: ease 0.15s all;
    position: relative; }
  .projectSection__projectImgContainer {
    width: 60%;
    position: relative;
    background-color: #FEFCF7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffcb47' fill-opacity='0.82' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); }
  .projectSection__projectImgBlock {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: ease 1s all; }
  .projectSection__projectImg {
    width: 100%; }
  .projectSection__projectImgBlock:hover {
    margin-top: 1.5em;
    margin-left: 1.5em; }

.alignRight {
  margin-right: 3vw; }

.alignLeft {
  margin-left: 3.5em; }

/*# sourceMappingURL=style.css.map */
