@import "reset";
@import "fonts";
@import "variables";
@import "header";
@import "footer";

body {
  background-color: $backgroundColor;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  height: 3000px;
}

.firstSection {
  margin: 0 auto;
  &__content {
    text-align: left;
    margin-top: 7em;
  }
  &__title1 {
    font-size: 40px;
    font-weight: 300;
    color: $white;
    background-color: $black;
    padding: 0.4em 1em 0.2em 0.4em;
    display: inline-block;
  }
  &__title2 {
    font-family: 'Playfair';
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
    color: $white;
    background-color: $black;
    padding: 0.1em 1em 0.3em 0.2em;
    display: inline-block;
  }
  &__text {
    font-family: 'Playfair';
    font-size: 17px;
    font-weight: 300;
    margin-top: 2em;
    line-height: 28px;
    letter-spacing: 0.3px;
    width: 60%;
  }
  &__CTA {
    margin-top: 3.6em;
  }
  &__CTAlink {
    background-color: $black;
    color: $white;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.6em 2em;
    text-decoration: none;
  }
  &__scrollContainer {
    text-align: center;
    margin-top: 5em;
  }
  &__scrollMessage {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.2px;
  }
  &__scrollBar {
    width: 1px;
    height: 25px;
    background-color: $black;
    margin: 0 auto;
    margin-top: 0.8em;
  }
}

.secondSection {
  margin: 0 auto;
  &__projectContainer {
    margin-top: 14em;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__projectTextContainer {
    width: 50%;
    margin-top: 5em;
  }
  &__projectTitleContainer {
    position: relative;
    left: -12.5;
  }
  &__projectNumber {
    font-family: 'Playfair';
    font-size: 55px;
    color: $yellow;
    text-align: left;
    margin-bottom: 0.1em;
    position: relative;
    margin-left: -0.7em;
  }
  &__projectNumber:after {
    content: '';
    border: solid 1px $black;
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: -12;
    left: 27;
    z-index: -1;
  }
  &__projectTitle {
    font-family: 'Playfair';
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.2px;
    background-color: $yellow;
    display: inline-block;
    line-height: 20px;
    padding: 0.3em 0.8em 0 0.3em;
    //margin-left: 1em;
  }
  &__projectRole {
    font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.3px;
    margin-top: 1.6em;
    color: #898989;
  }
  &__projectDescription {
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: 30px;
    width: 90%;
    line-height: 23px;
  }
  &__projectImgContainer {
    //width: 50%;
  }
  &__projectImg {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  }
}
