@import '../../../config/styles.scss';

:local(.component) {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    &.row {
        flex-direction: row;
        .textContainer {
            padding-right: 20px;
        }
    }
    &.reverse {
        flex-direction: row-reverse;
        .textContainer {
            padding-left: 30px;
        }
    }
    .textContainer {
        width: 50%;
        position: relative;
        font-size: 16px;
        line-height: 22px;
        .id {
            position: absolute;
            top: -20px;
            left: -20px;
            font-family: 'Playfair Display', sans-serif;
            font-weight: 700;
            font-size: 300px;
            color: $black;
            opacity: 0.03;
            line-height: 0;
            z-index: -1;
        }
        .name {
            font-family: 'Playfair Display', sans-serif;
            font-weight: 700;
            font-size: 35px;
            background-color: $yellow;
            display: inline-block;
            line-height: 15px;
            padding-top: 5px;
        }
        .role {
            text-transform: uppercase;
            font-weight: 600;
            margin: 10px 0 20px 0;
        }
        .desc {
            max-width: 500px;
            a {
                color: $black;
                text-decoration: none;
                box-shadow: $yellow 0px -5px 0px inset;
                transition: ease .26s all;
                &:hover {
                    box-shadow: $yellow 0px -20px 0px inset;
                }
            }
        }
        .skills {
            display: flex;
            margin-top: 15px;
            .skill {
                background-color: $yellow;
                border-radius: 2px;
                padding: 3px 8px;
                p {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 12px;
                }
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
    .imgContainer {
        width: 45%;
        -webkit-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.20);
        box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.20);
        transition: ease .5s all;
        position: relative;
        &:hover {
            -webkit-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.40);
            -moz-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.40);
            box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.40);
            transform: scale(0.98);
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}