@import '../../config/styles.scss';

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__logoItem {
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: $black;
        text-decoration: none;
    }
    &__navigationItemLink {
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        font-weight: 600;
    }
}